aiohappyeyeballs                         ==2.6.1
aiohttp                                  ==3.11.17
aiosignal                                ==1.3.2
altair                                   ==5.5.0
annotated-types                          ==0.7.0
anyio                                    ==4.9.0
asgiref                                  ==3.8.1
attrs                                    ==25.3.0
azure-ai-documentintelligence            ==1.0.2
azure-core                               ==1.33.0
azure-identity                           ==1.21.0
backoff                                  ==2.2.1
bcrypt                                   ==4.3.0
beautifulsoup4                           ==4.13.4
blinker                                  ==1.9.0
build                                    ==1.2.2.post1
cachetools                               ==5.5.2
certifi                                  ==2025.1.31
cffi                                     ==1.17.1
charset-normalizer                       ==3.4.1
chonkie                                  ==1.0.3
chroma-hnswlib                           ==0.7.6
chromadb                                 ==0.5.23
click                                    ==8.1.8
cobble                                   ==0.1.4
coloredlogs                              ==15.0.1
contourpy                                ==1.3.2
cryptography                             ==44.0.2
cycler                                   ==0.12.1
defusedxml                               ==0.7.1
Deprecated                               ==1.2.18
distro                                   ==1.9.0
docstring_parser                         ==0.16
durationpy                               ==0.9
entrypoints                              ==0.4
et_xmlfile                               ==2.0.0
Faker                                    ==37.1.0
fastapi                                  ==0.115.12
favicon                                  ==0.7.0
filelock                                 ==3.18.0
flatbuffers                              ==25.2.10
fonttools                                ==4.57.0
frozenlist                               ==1.6.0
fsspec                                   ==2025.3.2
gitdb                                    ==4.0.12
GitPython                                ==3.1.44
google-auth                              ==2.39.0
googleapis-common-protos                 ==1.70.0
greenlet                                 ==3.2.0
grpcio                                   ==1.71.0
grpcio-tools                             ==1.71.0
h11                                      ==0.14.0
h2                                       ==4.2.0
hpack                                    ==4.1.0
htbuilder                                ==0.9.0
httpcore                                 ==1.0.8
httptools                                ==0.6.4
httpx                                    ==0.28.0
httpx-sse                                ==0.4.0
huggingface-hub                          ==0.30.2
humanfriendly                            ==10.0
hyperframe                               ==6.1.0
idna                                     ==3.10
importlib_metadata                       ==8.6.1
importlib_resources                      ==6.5.2
instructor                               ==1.7.9
isodate                                  ==0.7.2
Jinja2                                   ==3.1.6
jiter                                    ==0.8.2
jsonpatch                                ==1.33
jsonpointer                              ==3.0.0
jsonschema                               ==4.23.0
jsonschema-specifications                ==2024.10.1
kiwisolver                               ==1.4.8
kubernetes                               ==32.0.1
langchain-core                           ==0.3.54
langchain-ollama                         ==0.3.2
langsmith                                ==0.3.32
litellm                                  ==1.67.0
lxml                                     ==5.3.2
magika                                   ==0.6.1
mammoth                                  ==1.9.0
Markdown                                 ==3.8
markdown-it-py                           ==3.0.0
markdownify                              ==1.1.0
markdownlit                              ==0.0.7
markitdown                               ==0.1.1
MarkupSafe                               ==3.0.2
matplotlib                               ==3.10.1
mcp                                      ==1.6.0
mdurl                                    ==0.1.2
mem0ai                                   ==0.1.92
mmh3                                     ==5.1.0
monotonic                                ==1.6
mpmath                                   ==1.3.0
msal                                     ==1.32.0
msal-extensions                          ==1.3.1
multidict                                ==6.4.3
narwhals                                 ==1.35.0
numpy                                    ==2.2.5
oauthlib                                 ==3.2.2
olefile                                  ==0.47
ollama                                   ==0.4.8
onnxruntime                              ==1.21.1
openai                                   ==1.75.0
openpyxl                                 ==3.1.5
opentelemetry-api                        ==1.32.1
opentelemetry-exporter-otlp-proto-common ==1.32.1
opentelemetry-exporter-otlp-proto-grpc   ==1.32.1
opentelemetry-instrumentation            ==0.53b1
opentelemetry-instrumentation-asgi       ==0.53b1
opentelemetry-instrumentation-fastapi    ==0.53b1
opentelemetry-proto                      ==1.32.1
opentelemetry-sdk                        ==1.32.1
opentelemetry-semantic-conventions       ==0.53b1
opentelemetry-util-http                  ==0.53b1
orjson                                   ==3.10.16
overrides                                ==7.7.0
packaging                                ==24.2
pandas                                   ==2.2.3
pdfminer.six                             ==20250416
pillow                                   ==11.2.1
pip                                      ==25.0
plotly                                   ==6.0.1
portalocker                              ==2.10.1
posthog                                  ==3.25.0
PraisonAI                                ==2.1.1
praisonaiagents                          ==0.0.76
prometheus_client                        ==0.21.1
propcache                                ==0.3.1
protobuf                                 ==5.29.4
psycopg2-binary                          ==2.9.10
pyarrow                                  ==19.0.1
pyasn1                                   ==0.6.1
pyasn1_modules                           ==0.4.2
pycparser                                ==2.22
pydantic                                 ==2.10.6
pydantic_core                            ==2.27.2
pydantic-settings                        ==2.9.1
pydeck                                   ==0.9.1
pydub                                    ==0.25.1
Pygments                                 ==2.19.1
PyJWT                                    ==2.10.1
pymdown-extensions                       ==10.14.3
pyparsing                                ==3.2.3
PyPika                                   ==0.48.9
pyproject_hooks                          ==1.2.0
python-dateutil                          ==2.9.0.post0
python-dotenv                            ==1.1.0
python-pptx                              ==1.0.2
pytz                                     ==2024.2
PyYAML                                   ==6.0.2
qdrant-client                            ==1.13.3
referencing                              ==0.36.2
regex                                    ==2024.11.6
requests                                 ==2.32.3
requests-oauthlib                        ==2.0.0
requests-toolbelt                        ==1.0.0
rich                                     ==13.9.4
rpds-py                                  ==0.24.0
rsa                                      ==4.9.1
setuptools                               ==75.8.0
shellingham                              ==1.5.4
six                                      ==1.17.0
smmap                                    ==5.0.2
sniffio                                  ==1.3.1
soupsieve                                ==2.6
SpeechRecognition                        ==3.14.2
SQLAlchemy                               ==2.0.40
sse-starlette                            ==2.2.1
st-annotated-text                        ==4.0.2
st-theme                                 ==1.2.3
starlette                                ==0.46.2
streamlit                                ==1.44.1
streamlit-avatar                         ==0.1.3
streamlit-camera-input-live              ==0.2.0
streamlit-card                           ==1.0.2
streamlit-embedcode                      ==0.1.2
streamlit-extras                         ==0.6.0
streamlit-faker                          ==0.0.3
streamlit-image-coordinates              ==0.1.9
streamlit-keyup                          ==0.3.0
streamlit-option-menu                    ==0.4.0
streamlit-toggle-switch                  ==1.0.2
streamlit-vertical-slider                ==2.5.5
sympy                                    ==1.13.3
tenacity                                 ==9.1.2
tiktoken                                 ==0.9.0
tokenizers                               ==0.20.3
toml                                     ==0.10.2
tornado                                  ==6.4.2
tqdm                                     ==4.67.1
typer                                    ==0.15.2
typing_extensions                        ==4.13.2
typing-inspection                        ==0.4.0
tzdata                                   ==2025.2
urllib3                                  ==2.4.0
uvicorn                                  ==0.34.2
uvloop                                   ==0.21.0
validators                               ==0.34.0
watchdog                                 ==6.0.0
watchfiles                               ==1.0.5
websocket-client                         ==1.8.0
websockets                               ==15.0.1
wheel                                    ==0.45.1
wrapt                                    ==1.17.2
xlrd                                     ==2.0.1
XlsxWriter                               ==3.2.3
yarl                                     ==1.20.0
youtube-transcript-api                   ==1.0.3
zipp                                     ==3.21.0
zstandard                                ==0.23.0